.wrap {
  flex-grow: 2;
  padding: 1rem;
  p {
    color: white;
    @media screen and (max-width: 560px) {
      width: 100%;
    }
  }
  pre {
    color: white;
    line-height: 1.8rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    @media screen and (max-width: 560px) {
      width: 100%;
      padding: 0;
    }
  }
  a {
    color: #3ea6ff;
  }
}
